<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

  <%= render "shared/admin_nav" %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%= render "shared/admin_nav_top" %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>


          <%= render "shared/admin_data_boxes" %>

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Kundeliste</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Selskap</th>
                          <th>Kunde</th>
                          <th>Telefon</th>
                          <th>Epost</th>
                          <th>Adresse</th>
                          <th>Postnummer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @company_details.each do |client| %>
                        <tr>
                          <td><%= client.id %></td>
                          <td><%= client.business_name %></td>
                          <td><%= "#{client.first_name} #{client.last_name}" %></td>
                          <td><%= client.phone %></td>
                          <td><%= client.email %></td>
                          <td><%= client.address %></td>
                          <td><%= client.zip_code %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>


                </div>

              </div>
            </div>

          </div>



      <!-- Footer -->
<%= render "shared/admin_footer" %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>
