<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

  <%= render "shared/admin_nav" %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%= render "shared/admin_nav_top" %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <%= link_to "Ny Q&A", new_faq_path, class: "d-none d-sm-inline-block btn btn-md btn-primary shadow-sm" %>
          </div>


          <%= render "shared/admin_data_boxes" %>

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Spørsmål og Svar</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Spørsmål</th>
                          <th>Svar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @faqs.each do |faq| %>
                        <tr>
                          <td><%= faq.id %></td>
                          <td><%= faq.question %></td>
                          <td><%= faq.answer %></td>
                          <td><%= link_to "Endre", edit_faq_path(faq), class: "btn btn-warning btn-md" %></td>
                          <td><%= link_to "Slett", faq, method: :delete, data:{confirm: "Er du sikker på at du vil slette både spørsmålet og svaret?"}, class: "btn btn-danger btn-md" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>


                </div>

              </div>
            </div>

          </div>


      <!-- Footer -->
<%= render "shared/admin_footer" %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>
