<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

  <%= render "shared/admin_nav" %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%= render "shared/admin_nav_top" %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <%= link_to "Nytt Produkt", new_product_path, class: "d-none d-sm-inline-block btn btn-md btn-primary shadow-sm"%>
          </div>

          <!-- Start Data Top Row -->
          <%= render "shared/admin_data_boxes" %>
          <!-- End Data Top row -->

            <!-- Area Chart -->
          <div class="row">
            <% @products.each do |product| %>

              <!-- Area Chart -->
              <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><%="#{product.id}-#{product.name}" %></h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td><%= cl_image_tag product.photo %></td>
                        </tr>
                        <tr>
                          <td><%= product.description  %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Endre", edit_product_path(product), class: "btn btn-md btn-warning" %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Slett", product, method: :delete, data: {confirm: "Er du sikker på at du vil slette produktet?"}, class: "btn btn-md btn-danger"%></td>
                        </tr>
                      </tbody>
                    </table>


                  </div>

                </div>
              </div>
            <% end %>





        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
<%= render "shared/admin_footer" %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>
