<% products = @order.product_array %>
<% services = @order.service_array %>
 <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
<!-- Kunde navn, selskap, pakke, produkter, pris -->
<h2>Ordre Detaljer</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Selskap</th>
            <th>Org. Nummer</th>
            <th>Navn</th>
            <th>Pakke</th>
            <th>Pris</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.id %></td>
            <td><%= @order.company_detail.business_name %></td>
            <td><%= @order.company_detail.org_no %></td>
            <td><%= "#{@order.company_detail.first_name} #{@order.company_detail.last_name}" %></td>
            <td><%= @order.package_name %></td>
            <td><%= @order.total %> NOK</td>
          </tr>
        </tbody>
      </table>

<br><br>
<h2>Produkter og Tjenester Inkludert</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Produkter og Tjenester</th>
            <% products.each do |product| %>
            <td><%= product %></td>
            <% end %>
            <% services.each do |service| %>
            <td><%= service %></td>
            <% end %>
          </tr>
        </thead>
      </table>

<h2>Foretrukket Stil</h2>
<%= cl_image_tag(@order.style.image, :width => "200" %>
<br>
<% if @order.reference_logo != nil %>
<h2>Egen opplastet logostil</h2>
<%= cl_image_tag(@order.reference_logo, :width => "200" %>
<% end %>
<br><br>
<!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Bestillingsnotater ---- <%= link_to "Nytt Notat", new_order_order_note_path(@order), class: "btn btn-primary btn-sm" %></h6>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Notat</th>
                        <th>Notat Dato</th>
                        <th>Laget av</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @notes.each do |note| %>
                      <tr>
                        <td><%= note.description %></td>
                        <td><%= note.created_at %></td>
                        <td><%= note.user.first_name %></td>
                        <td><%= link_to "Endre", edit_order_order_note_path(@order,note), class: "btn btn-warning btn-sm"%></td>
                        <td><div style="font-size: 30px; color-profile: green;"> <%= link_to (fa_icon "check-square"), [@order, note], method: :delete, data: {confirm: "Er du sikker på at du vil fjerne notatet for godt?"} %></div></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

    </div>
  </header>
