<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<% count = 1 %>

<table>
  <thead>
    <tr>
      <th>Pakkenavn</th>
      <th><%= "#{@order.company_detail.first_name} #{@order.company_detail.last_name}" %></th>
      <th> <%= @order.package.name %> </th>
      <th><%= @order.package.price %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Endre", edit_package_path(@order.package) %></td>
      <td> <%= link_to "Slett", @order.package, method: :delete, data: {confirm: "Er du sikker?"} %> </td>
    </tr>
  </tbody>
</table>

<br><br>
