<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Følgende bestilling ble gjort <%= Time.now %>

      <br>
      <br>
      Følgende Pakke er blitt bestilt:
      <br>

    <ul>
      <li><b>Pakke:</b> <%= @pakke %></li>
      <li><b>Pris:</b> <%= @pris %> NOK</li>
    </ul>

    <br>

    <ul>
      <li><b>ID:</b> <%= @id %> </li>
      <li><b>Navn:</b> <%= @fullt_navn %> </li>
      <li><b>Epost:</b> <%= @epost %> </li>
      <li><b>Telefon:</b> <%= @telefon %> </li>
      <li><b>Adresse:</b> <%= @adresse %> </li>
      <li><b>Postnummer:</b> <%= @postnummer %> </li>
      <li> <b>Stil:</b> <br> <%= cl_image_tag(@stil.image, :attachment=>true, :width=>"200") %> </li>
      <li> <b>Egen Opplastet Logo:<br></b> <%= cl_image_tag(@referanse_stil, :attachment=>true, :width=>"200") %></li>
    </ul>

    <br>
    <br>

    <p>
      Med vennlig hilsen,<br>
      Logo Maker'n Support Team
    </p>
  </body>
</html>
