<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="container" style="text-align: center;" >
  <h1><%= @post.title %></h1>
  <br>
  <p><%= cl_image_tag @post.thumbnail %></p>
  <p><i> <%= raw(@post.preface) %></i></p>

  <br>
  <p><%= raw(@post.body) %></p>
  <br>


<br>
<br>


<hr>
<h4> <%= @comments.count %> Kommentarer </h4>
  <% @comments.each do |comment| %>
  <div class="row" >
    <div class="card" style="border: none;">
      <div class="card-body">
        <div class="card-title" style="text-align: left;"><b> <%= comment.name %> </b> </div>
          <div class="card-text" style="text-align: left;"> <i ><%= comment.created_at.strftime("%d-%b 20%y") %></i></div>
          <br>
          <p> <%= comment.body %> </p>

      </div>
    </div>
  </div>
  <br>
  <hr>
  <% end %>

  <br>
<%= link_to "Legg igjen en Kommentar", new_post_comment_path(@post), class: "btn btn-lg btn-primary"%>
</div>
