


<header class="masthead-mose bg-primary text-white text-left">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Heading -->

<h1 class="masthead-heading text-uppercase mb-0">Endre Profil</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :epost %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :passord %> <i>(La feltet stå blankt med mindre du vil endre det.)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>Minimum <%= @minimum_password_length %> karakterer </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :passord_bekreftelse %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :nåværende_passord %> <i>(Vi trenger ditt nåværende passord for å bekrefte dine endringer)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Oppdater", class: "bt btn-lg btn-success" %>
  </div>
<% end %>

<h3>Kanseller min konto</h3>

<p>Missfornøyd? <%= button_to "Kanseller min konto", registration_path(resource_name), data: { confirm: "Er du sikker? Dette vil slette alt du har gjort og lagret fra databasen for godt." }, method: :delete, class: "btn btn-danger btn-lg" %></p>

<%= link_to "Tilbake", :back %>


  </div>
</header>
